
@{
    ViewData["Title"] = "AboutUS";
}
<style>

.container {
    position: relative;
    width: 100%;
    max-width: 800px;
  }
  
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
  }

.titulo{
    font-style: italic;
    
    text-decoration:dashed;
    text-align: center;
    text-shadow: #1d3ede;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.custom-shadow {
    box-shadow: 3px 4px 11px 9px rgba(102, 204, 255, 8);
    
 }
 .Fondo-negro {
         background: #343a40;
   }

 
</style>

<center>
    <section class="about-us" style="padding-top: 10%; max-width: 70%; ;"/>
    <div class="container"/>
    <h1 style="padding-bottom:7px">Sobre Nosotros</h1>
    <div class="row" style="max-width: auto;">
        <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 2;">
            <h2 >Nuestra Historia</h2>
            <p>BACC es un banco establecido en la República Dominicana desde hace más de 50 años. Durante este tiempo, nos hemos dedicado a proporcionar a nuestros clientes un servicio bancario de calidad, con una atención personalizada y un enfoque en el crecimiento y la prosperidad de nuestra comunidad.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="../img/ferran-fusalba-rosello-WgUHuGSWPVM-unsplash.jpg"style="max-width: 300px; max-height: 400px ;" alt="Banco">
        </div>
    </div>
    <div class="row" style=" padding-bottom: 8px;">
        <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 2;">
            <img src="../img/brooke-cagle--uHVRvDr7pg-unsplash.jpg"style="max-width: 350px; max-height: 400px ;" alt="Equipo">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>Nuestro Equipo</h2>
            <p>En BACC, nuestro equipo está formado por los mejores profesionales en el campo financiero. Cada uno de ellos tiene una amplia experiencia y está dedicado a ayudar a nuestros clientes a alcanzar sus objetivos financieros. Nos enorgullecemos de ofrecer una atención al cliente excepcional y de estar siempre disponibles para nuestras necesidades.</p>
        </div>
    </div>
    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 2; ">
        <h2>Nuestra Misión</h2>
        <p>En BACC, nuestra misión es proporcionar un servicio bancario de calidad a nuestros clientes, con una atención personalizada y un enfoque en el crecimiento y la prosperidad de nuestra comunidad.</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="../img/priscilla-du-preez-XkKCui44iM0-unsplash.jpg"style="width: 300px; max-height: 400px ;" alt="Banco">
    </div>
    <section id="mision">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <img src="../img/tim-marshall-cAtzHUz7Z8g-unsplash.jpg"style="width: 300px; max-height: 400px ;" alt="" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h2>Misión</h2>
                    <p>Nuestra misión es ser el mejor banco de la República Dominicana, ofreciendo productos y servicios innovadores y de calidad, brindando a nuestros clientes una experiencia bancaria excepcional y contribuyendo al desarrollo económico del país.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="vision" style="padding: 2;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2>Visión</h2>
                    <p>Nuestra visión es ser reconocidos como un banco líder en la región del Caribe, por nuestro compromiso con la excelencia en el servicio al cliente, la innovación y el desarrollo sostenible.</p>
                </div>
                <div class="col-md-6">
                    <img src="../img/jason-goodman-bzqU01v-G54-unsplash.jpg"style="width: 300px; max-height: 300px ;"alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section></div>

</center>

                  


   