<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Formulario de contacto</title>
	<link rel="stylesheet" href="bootstrap.css">
	<style>
		.bg {
			background-image: url(financiera.jpg);
			background-position: center center;
		}
	</style>
</head>


<body>
	<center>

		<div class="text-center  shadow-lg p-3 mb-5 rounded bg-info" style="width: 402px; ">
			<H4>Escríbenos y en breve nos pondremos en contacto contigo</H4>
		</div>

		<div style="max-width: 90%;">
			<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
				<div style="display: flex; justify-content:space-between ">
					<form class="row g-3 ">
						<div class="card" id="Formulario">
							<div class="card-header ">
								<h6>Contáctenos</h6>
							</div>
							<div class="card-body">
								<div class="mb-3">
									<label for="" class="form-label " style="float: left;">Nombre</label>
									<input type="text" class="form-control" id="name" placeholder="Nombre de usario">
								</div>
								<div class="mb-4">
									<label for="" class="form-label" style="float: left;">Email</label>
									<input type="text" class="form-control" id="lastname" placeholder="Email">
								</div>
								<div class="mb-4">
									<label for="" class="form-label" style="float: left;">Telefono</label>
									<input type="number" class="form-control" id="cedula" placeholder="Telefono">
								</div>
								<div class="mb-4">
									<label for="" class="form-label" style="float: left;">Asunto</label>
									<input type="text" class="form-control" id="Direccion" placeholder="Asunto">
								</div>
								<div class="mb-4">
									<label for="" class="form-label" style="float: left;">comentario</label>
									<textarea class="form-control" id="Telefono" placeholder="comentario"></textarea>
								</div>
								<div>
									<button type="button" class="btn btn-outline-info" id="guardar">Enviar</button>
								</div>
					</form>
				</div>
			</div>
			<div class="card-img-top" style="position: relative; ">

				<img src="~/img/financiamiento.jpg" class="foto" alt="..." id="img-preview" ;
					 style="opacity: 95%;max-width: 100%;">
				<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
				</div>
			</div>

		</div>
		</div>
		</div>
		</section>


	</center>


</body>
</html>