  <!--Hero_Section-->
<section id="hero_section" class="top_cont_outer">
    <div class="hero_wrapper">
        <div class="container">
            <div class="hero_section">
                <div class="row">
                    <div class="col-lg-5 col-sm-7 class">
                        <div class="top_left_cont zoomIn wow animated">
                            <h2>Cuida tus<strong> Finanzas</strong> con BANKCC</h2>
                            <p>Te brindamos  beneficios y soluciones financieras relevantes que se adaptan a tus necesidades, porque ser parte de tu vida es nuestra inspiración.</p>
                            <a href="#service" class="read_more2">Read more</a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-sm-5">
                        <img src="img/Preview.png" class="zoomIn wow animated" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Hero_Section-->

<section id="aboutUs">
    <!--Aboutus-->
    <div class="inner_wrapper">
        <div class="container">
            <h2>Sobre nosotros</h2>
            <div class="inner_section">
                <div class="row">
                    <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right"><img src="img/about-img.jpg" class="img-circle delay-03s animated wow zoomIn" alt=""></div>
                    <div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
                        <div class=" delay-01s animated fadeInDown wow animated">
                            <p>BANKCC inicia sus operaciones en República Dominicana en junio 2016, con el objetivo de brindar, un servicio ágil, dinámico y adaptado al trabajo del día a día de los clientes particulares y empresas a la que sirve, brindándoles productos y servicios de alto valor agregado, con atención personalizada y tecnología de punta.</p> <br />
                            <p>A partir del año 2020, BANKCC pasa a ser parte del grupo Euro Exchange Corp, empresa incorporada en el Estado de Florida en 1999 y con presencia en Londres, Madrid, entre otros países.</p>
                        </div>
                        <div class="work_bottom"> <a href="/Home/Contactenos" class="contact_btn">Contact Us</a> </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
