
@{
    ViewData["Title"] = "login";
}

 <section  style="padding-top: 60px; padding-bottom:90px;">
        <center>
              <div class="card" id="formularioLogin" style="max-width: 500px;">
                <div class="card-header p-3 mb-2 bg-info text-white"><h4>Inicio De Sesion</h4></div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                                <label for="" class="form-label " style="float: left;">Cedula</label>
                                <input type="number" class="form-control" id="cedula1" placeholder="Ingrese Su Cedula" >
                        </div>
                         <div class="mb-3">
                                <label for="" class="form-label " style="float: left;">Contraseña</label>
                                <input type="password"  class="form-control" id="contrasena1" placeholder="Ingrese Su Contraseña">
                         </div>
                            <button type="button" class="btn btn-outline-info" id="ingresar4">Ingresar</button>
                            <button type="button" class="btn btn-outline-info" id="LimpiarL">Limpiar</button>
                             <button type="button" class="btn btn-outline-info"  id="general">GEnerar</button>
                               <button type="button" class="btn btn-outline-info"  id="eliminar">Eliminar</button>
                         <div id="GEnerar"> </div>

                   </form>
                </div>
            </div>
         </center>
     
    </section>
    