
@{
    ViewData["Title"] = "login";
}

<section style="padding-top: 60px;">
    <center>
        <div class="card" id="formularioLogin" style="max-width: 500px;">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="m-0">Inicio De Sesion</h4>
                <div>
                    <p class="btn-close ms-auto">
                        <a href="@Url.Action("Index")" class="bi bi-x-lg" style="text-decoration: none; color: inherit; padding: 5px;">&nbsp;</a>
                    </p>
                </div>
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label for="" class="form-label" style="float: left;">Cedula</label>
                        <input type="number" class="form-control" id="cedula1" placeholder="Ingrese Su Cedula">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label" style="float: left;">Contraseña</label>
                        <input type="password" class="form-control" id="contrasena1" placeholder="Ingrese Su Contraseña">
                    </div>
                    <button type="button" class="btn btn-outline-info" id="ingresar4">Ingresar</button>
                    <button type="button" class="btn btn-outline-info" id="LimpiarL">Limpiar</button>
                </form>
            </div>
        </div>
    </center>
</section>