
@{
    ViewData["Title"] = "login";
}


 <center>

  <div class="text-center  shadow-lg p-3 mb-5 rounded bg-info" style="width: 400px; position: relative; margin-top: 60px;"  >
    <H4>Informacion Personal</H4>
   </div>
   
   <section style="position: relative; top: -500px;"  class="contenido">
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded" >
      <div style="display: flex; justify-content:space-between ">
    <form class="row g-3 " >
        <div class="card" id="Formulario"  >
            <div class="card-header "><h6>Registro de Usuario</h6></div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="" class="form-label " style="float: left;">Nombre</label>
                    <input type="text" class="form-control" id="name" placeholder="Nombre de usario" >
                  </div>
                  <div class="mb-4">
                    <label for="" class="form-label"  style="float: left;">Apellido</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Apellido de usario" >
                  </div>
                <div class="mb-4">
                    <label for="" class="form-label"  style="float: left;">Cedula</label>
                    <input type="number" class="form-control" id="cedula" placeholder="Ingrese Cedula">
                  </div>
                  <div class="mb-4">
                    <label for="" class="form-label"  style="float: left;">Direccion</label>
                    <input type="text" class="form-control" id="Direccion" placeholder="Direccion de usario">
                  </div>
                  <div class="mb-4">
                    <label for="" class="form-label"  style="float: left;">Telefono</label>
                    <input type="text" class="form-control" id="Telefono" placeholder="Direccion de usario">
                  </div>
                  <div class="mb-4">
                    <label for="" class="form-label"  style="float: left;">Contraseña</label>
                    <input type="password" class="form-control" id="contrasena" placeholder="Contraseña">
                  </div>
                  <div>
                    <button type="button" class="btn btn-outline-info" id="guardar">Confirmar</button>
                    <button type="button" class="btn btn-outline-danger" id="eliminar" >Eliminar</button>
                  </div>
                </form>
            </div>
        </div>
    <div class="card-img-top" style="position: relative;" >
   
          <img src="~/img/kenny-eliason-GrXWeoP-Ji0-unsplash.jpg" class="foto"  alt="..." id="img-preview"; style="opacity: 95%;">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
          <strong>
          <h2 class="Titulo">Formamos parte de tus sueños</h2>
          <p class="subTITULO"> Banco Nacional De La Republica Dominicana </p>
        </strong>
        </div>
      </div>
     
  </div>
</div>
</div>
</section>
  
  
</center>
  
    
       