@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<section  style="padding-top: 60px;">
    <center> 
        <div class="card" id="Formulario" style="max-width: 500px;" >
            <div class="card-header"><h4>Registro de Usuario</h4></div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="" class="form-label " style="float: left;">Nombre</label>
                    <input type="text" class="form-control" id="name" placeholder="Nombre de usario" >
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label"  style="float: left;">Apellido</label>
                    <input type="" class="form-control" id="lastname" placeholder="Apellido de usario" >
                  </div>
                <div class="mb-3">
                    <label for="" class="form-label"  style="float: left;">Cedula</label>
                    <input type="" class="form-control" id="cedula" placeholder="Ingrese Cedula">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label"  style="float: left;">Direccion</label>
                    <input type="" class="form-control" id="Direccion" placeholder="Direccion de usario">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label"  style="float: left;">Telefono</label>
                    <input type="" class="form-control" id="Telefono" placeholder="Direccion de usario">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label"  style="float: left;">Contraseña</label>
                    <input type="password" class="form-control" id="contrasena" placeholder="Contraseña">
                  </div>
                  <div>
                    <button type="button" class="btn btn-outline-info" id="guardar">Confirmar</button>
                    <button type="button" class="btn btn-outline-danger" id="eliminar" >Eliminar</button>
                  </div>
                  
            </div>
        </div>
        <script></script>
    </center>
    </section>
   
