
@{
    ViewData["Title"] = "SolicitudDeInversion";
}

<style>
    .Fondo-negro {
        background: #343a40;
    }
</style>

<body onload="AsignacionDeCodigo()">

    <section  style="padding-top: 60px; padding-bottom: 90px; margin-top: 40px">
        <center>
            <div class="card shadow p-3 mb-5 bg-body-tertiary rounded " style="max-width: 500px;  padding-top: 60px" >
                <form >
                    <div class="card-header p-3 mb-2 bg-primary text-white">
                        <h1 class="card-title">Formulario de inversión</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="codigo">Código:</label>
                            <input type="text" id="codigo" name="codigo" class="form-control" readonly>
                        </div> 
                        <div class="col-md-6">
                            <label for="interes">Interés:</label>
                            <input type="text" id="interes" name="interes" class="form-control" readonly>
                        </div>
                    </div> <br>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="monto">Monto:</label>
                            <input type="number" id="monto" name="monto" class="form-control">
                        </div>
                    </div> <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="fechabeng">Fecha de inicio:</label>
                            <input type="datetime-local" id="fechabeng" name="fechabeng" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="fechaend">Fecha de fin:</label>
                            <input type="datetime-local" id="fechaend" name="fechaend" class="form-control">
                        </div>
                    </div> <br>
                    <div style="padding-left: 20px;padding-top: 20px">

                        <button style="float:left;" type="submit" class="btn btn-outline-success" name="botonPresionado" value="CalcularInteres" onclick="VerificarFecha()">Calcular Interes</button>

                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding-top: 80px; padding: 1em;">



                        <button type="submit" class="btn btn-outline-info" id="enviar" name="botonPresionado" value="Enviar">Solicitar</button>

                        <button type="submit" class="btn btn-outline-danger" name="botonPresionado" value="eliminar"> Limpiar</button>

                    </div>
                </form>
            </div>
        </center>
    </section>

    <script src="js.js"></script>
</body>
