
@{
    ViewData["Title"] = "TablaInversion";
}

<center>
    <section style="padding-top:4%">
        <div class ="card" style="max-width:70%">
            <div class="card-header " style="background-color:dodgerblue">
                <h1 class="card-title">Cuotas de tu inversion</h1>
            </div>
            <div class="card-body"  style="overflow-y: scroll;">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Codigo del prestamo</th>
                            <th scope="col">Cuenta de banco</th>
                            <th scope="col">Monto de inversion</th>
                            <th scope="col">Cuota</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </section>
</center>

