

@{
    ViewData["Title"] = "TablaPrestamos";
}
<style>
    .Fondo-negro {
        background: #343a40;
    }
</style>
<body  onload="LlenarTablaPrestmaos()">

    <center>
    <section style="padding-top:4%">
         <div class="card" style="max-width:70%">
            <div class="card-header "style="background-color:dodgerblue">
                 <h1 class="card-title">Tabla Prestamos</h1></div>
                <div class="card-body"  style="overflow-y: scroll;">
                   <table class="table table-hover " id="tabla" >
                      
                    </table>
                    
        </div>
        <div>
            <button><link href=""> mas informacion..</button>
        </div>

    </div>

    </section>
   

</center>


</body>

